.notepost {
    width: 90%;
    min-height: 100px;
    display: flex;
    padding: 10px 40px 10px 60px;

    position: relative;
    flex-direction: column;
    background-color: #ffffff86;

    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
}


.notepost h1,
.notepost h2 {
    max-width: 100%;
    text-align: center;
    margin: 0;
    color: #0f0911;
}

.notepost_info {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#notepost_name {
    font-weight: 600;
    font-size: 1.2rem;
    align-self: flex-start;

}

#notepost_date {
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    align-self: flex-end; 
    color: #0f0911;

}


#notepost_content {
    width: 100%;
    max-width: 100%;
    text-align: justify;

    font-weight: 400;
    font-size: 1.2rem;
}

#owner{
    color: #ff004c;
    cursor: pointer;
    padding: 5px 0px 20px 0px;
    align-self: flex-start;
    text-decoration: underline;
    letter-spacing: 1px;
}

#notepost_avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff8e;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    top:25;
    left: -25px;

    position: absolute;
    box-shadow: rgb(36, 16, 27) 0px 0px 10px 0px;
}