.notepost {
    width: 90%;
    min-height: 100px;
    display: flex;
    padding: 10px 40px 10px 48px;

    position: relative;
    flex-direction: column;
    background: rgb(233, 216, 215);
    background: linear-gradient(90deg, rgba(233, 216, 215, 0.7049020291710435) 19%, rgba(232, 188, 185, 0.7049020291710435) 100%);
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px;
}

/* .notepost::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #b49fad transparent transparent;
    bottom: -5.3px;
    transform: rotate(-30deg);
    left: -9px;
    margin-top: -10px;
} */


.notepost h1,
.notepost h2 {
    max-width: 100%;
    text-align: center;
    margin: 0;
    color: #0f0911;
}

.notepost_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notepost_name {
    font-weight: 500;
    font-size: 1rem;
    align-self: flex-start;
    padding-top: 16px;
    font-family: 'Inter';
}

#notepost_date {
    margin-top: 10px;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    align-self: flex-end;
    color: #0f0911;
    font-family: 'Inter';
}


#notepost_content {
    width: 100%;
    max-width: 100%;
    text-align: justify;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Inter';
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#owner {
    color: #a54256;
    cursor: pointer;
    padding: 12px 0px 8px 0px;
    align-self: flex-start;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

#notepost_avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25;
    left: -25px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #fffffff1;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2b222c6b;

    cursor: pointer;
    box-shadow: rgb(36, 16, 27) 0px 0px 10px 0px;
}


.edit {
    padding-top: 20px;
}