.sidebar {
    display: flex;
    height: 94dvh;
    left: 0;
    top: 70px;
    position: fixed;
    overflow-y: hidden;
    width: 400px;
    max-width: 95dvw;
    transition: width 0.3s ease;
    background-color: #1d1a39;
    color: #fff;
    z-index: 1000;
}


.topics_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    margin: 20px 5px;
}

.topics_container button {
    background-color: transparent;
    border: 1px solid #f39f5a3f;
    padding: 12px;
    width: 300px;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    margin: 10px 0;
    color: #ffff;
    cursor: pointer;
}

.topics_list {
    width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.topics_list::-webkit-scrollbar {
    display: none;
}

.topics_container button:hover {
    background-color: #f39f5a0c;
}

.hidden_topics_container {
    display: none;
}

.hide_sidebar button {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}


.hide_sidebar button:hover {
    background-color: #ae445909;
    /* background: rgb(29, 26, 57);
    background: linear-gradient(0deg, rgba(29, 26, 57, 1) 0%, rgba(42, 28, 60, 1) 30%, rgba(102, 37, 73, 0.8365546902354692) 50%, rgba(42, 28, 60, 1) 70%, rgba(29, 26, 57, 1) 100%); */
}

.sidebar_closed {
    width: 30px;
    overflow: hidden;
}

#topic_input {
    background-color: transparent;
    border: 1px solid #f39f5a3f;
    padding: 12px;
    width: 272px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px 0;
    color: #ffff;
}

#topic_input:focus {
    border: 1 px solid #f39f5a83;
}


#topic_input:focus::placeholder {
    color: transparent;
}