.notepost {
    width: 90%;
    min-height: 100px;
    display: flex;
    padding: 20px 40px 20px 60px;

    position: relative;
    flex-direction: column;
    background-color: #74747421;

    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
}

#close {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
    color: #fff;
}

.notepost h1,
.notepost h2 {
    max-width: 100%;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

.notepost_info {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#notepost_name {
    font-weight: 600;
    font-size: 1.2rem;
    align-self: flex-start;

}

#notepost_date {
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    align-self: flex-end; 
    color: #949494;

}


#notepost_content {
    width: 100%;
    max-width: 100%;
    text-align: justify;

    font-weight: 300;
    font-size: 1.2rem;
}

#owner{
    color: #ff004c;
    cursor: pointer;
    padding: 5px 0px 20px 0px;
    align-self: flex-start;
    text-decoration: underline;
    letter-spacing: 1px;
}